/* Global Styles*/
* {
  outline: none;
  font-family: Poppins, sans-serif;
  list-style: none;
  text-decoration: none;
  border: none;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, rgb(0 0 0 / 60%), rgb(0 0 0 / 30%)),
    url("../img/img1.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  position: relative;
  z-index: 1000;
}

/* Pseudo-element for blur effect */
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent; /* Make background transparent */
  backdrop-filter: blur(30px); /* Apply blur effect */
  z-index: -1; /* Place behind the header content */
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

.logo .highlight {
  color: #ffa343; /* Orange color for "Guide" and "Powered by AI" */
}

.logo p {
  margin: 0;
  font-size: 18px;
}

nav {
  position: relative;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
  z-index: 1001;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu li {
  display: flex;
  align-items: center;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.subscribe-btn,
.login-btn {
  background-color: #ff5722;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 18px;
}

.subscribe-btn:hover,
.login-btn:hover {
  background-color: #e64a19;
}

.home {
  height: 100%;
  width: 100%;
}

.home-text h5 {
  font-size: 18px;
  font-weight: 600;
  /*margin-bottom: -10px;*/
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #ffa343;
  padding: 25px;
}

.home-text h1 {
  font-size: 70px;
  font-weight: 500;
  line-height: 1.2;
}

.content2 {
  position: relative;
  /*margin-bottom: 70px;*/
  padding: 30px 20px;
  margin-top: -140px;
}

.content2 h1 {
  position: absolute;
  color: #fff;
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content2 h1:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.content3 {
  position: relative;
  /*margin-bottom: 150px;*/
  margin-top: 30px;
  padding: 10px 20px;
}

.content3 h1 {
  position: absolute;
  color: #fff;
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content3 h1:nth-child(2) {
  color: #03a9f4;
  animation: animate0 4s ease-in-out infinite;
}

@keyframes animate0 {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.home-text p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  color: #ffffffab;
  padding: 30px 30px;
  margin-top: 100px;
}

.chat-btn {
  /*display: inline-block;*/
  padding: 13px 50px;
  background: #ffa343;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.5s ease;
  /*margin-top: 10px;*/
  cursor: pointer;
  margin-left: 30px;
}

.chat-btn:hover {
  transform: translateX(10px);
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: rgba(0, 77, 64, 0.8); /* Semi-transparent background */
    background: transparent; /* Make background transparent */
    backdrop-filter: blur(30px); /* Apply blur effect */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  .menu.show {
    display: flex;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu li {
    text-align: center;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
  }

  .menu li:last-child {
    border-bottom: none;
  }

  .menu li a,
  .subscribe-btn,
  .login-btn {
    font-size: 24px;
    width: 100%; /* Ensure full width for the items */
    padding: 20px;
  }

  .home-text h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 1.2;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo h1 {
    font-size: 20px;
  }

  .logo p {
    font-size: 12px;
  }

  .menu-icon {
    right: 10px; /* Adjusted for smaller screens */
  }

  .menu li a {
    font-size: 20px;
  }
}
