/* Global Styles*/
* {
  outline: none;
  font-family: Poppins, sans-serif;
  list-style: none;
  text-decoration: none;
  border: none;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, rgb(0 0 0 / 60%), rgb(0 0 0 / 30%)),
    url("../img/img1.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  position: relative;
  z-index: 1000;
}

/* Pseudo-element for blur effect */
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent; /* Make background transparent */
  backdrop-filter: blur(30px); /* Apply blur effect */
  z-index: -1; /* Place behind the header content */
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

.logo .highlight {
  color: #ffa343; /* Orange color for "Guide" and "Powered by AI" */
}

.logo p {
  margin: 0;
  font-size: 18px;
}

nav {
  position: relative;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
  z-index: 1001;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu li {
  display: flex;
  align-items: center;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.5s ease;
}

.menu li a:hover {
  color: #ffa343;
}

.subscribe-btn,
.login-btn {
  background-color: #ffa343;
  padding: 10px 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  border: 2px solid transparent;
  transition: all 0.5s ease;
}

.subscribe-btn:hover,
.login-btn:hover {
  transform: translateX(10px);
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}

.home {
  height: 100%;
  width: 100%;
}

.home-text h5 {
  font-size: 18px;
  font-weight: 600;
  /*margin-bottom: -10px;*/
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #ffa343;
  padding: 25px;
}

.home-text h1 {
  font-size: 70px;
  font-weight: 500;
  line-height: 1.2;
}

.content2 {
  position: relative;
  /*margin-bottom: 70px;*/
  padding: 30px 20px;
  margin-top: -140px;
}

.content2 h1 {
  position: absolute;
  color: #fff;
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content2 h1:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.content3 {
  position: relative;
  /*margin-bottom: 150px;*/
  margin-top: 30px;
  padding: 10px 20px;
}

.content3 h1 {
  position: absolute;
  color: #fff;
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content3 h1:nth-child(2) {
  color: #03a9f4;
  animation: animate0 4s ease-in-out infinite;
}

@keyframes animate0 {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.home-text p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  color: #ffffffab;
  padding: 30px 30px;
  margin-top: 100px;
}

.chat-btn {
  /*display: inline-block;*/
  padding: 13px 50px;
  background: #ffa343;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.5s ease;
  /*margin-top: 10px;*/
  cursor: pointer;
  margin-left: 30px;
}

.chat-btn:hover {
  transform: translateX(10px);
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}

/* section1 */
.sec-01 {
  /* Optional: Adjust position and display if needed */
  /*position: relative;*/
  /*display: flex; /* Use flexbox to center contents */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  /*padding: 80px 100px;*/ /* Uncomment if needed for spacing */
  color: #fff;
  margin-top: 300px; /* Adjust top margin as needed */
  width: 100%; /* Full width */
  background-color: #111222;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  font-size: 4em;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
  z-index: 1;
}

.box1 {
  position: relative;
  width: 850px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #03a9f4; */
  /*margin-top: -60px;*/
}

.lightbar {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 28px;
  width: 10px;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;
  animation: animatelightbar 5s linear infinite;
  z-index: 3;
}

@keyframes animatelightbar {
  0%,
  5% {
    transform: scaleY(0) translateX(0);
  }

  10% {
    transform: scaleY(1) translateX(0);
  }

  90% {
    transform: scaleY(1) translateX(calc(850px - 10px));
  }

  95%,
  100% {
    transform: scaleY(0) translateX(calc(850px - 10px));
  }
}

.toplayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111222;
  z-index: 2;
  margin-top: 35px;
  animation: animatetoplayer 10s linear infinite;
}

@keyframes animatetoplayer {
  0%,
  2.5% {
    transform: translateX(0);
  }

  5% {
    transform: translateX(0);
  }

  45% {
    transform: translateX(100%);
  }

  47.5%,
  50% {
    transform: translateX(100%);
  }

  50.001%,
  52.5% {
    transform: translateX(-100%);
  }

  55% {
    transform: translateX(-100%);
  }

  95% {
    transform: translateX(0%);
  }

  97.5%,
  100% {
    transform: translateX(0%);
  }
}

.container-1 {
  position: relative;
  display: flex;
  padding: 80px 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.card {
  position: relative;
  width: 350px;
  height: 180px;
  background: #fff;
  transition: 0.5s;
}

.card:hover {
  height: 450px;
}

.card .lines {
  position: absolute;
  inset: 0;
  background: #000;
  overflow: hidden;
}

.card .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 120px;
  background: linear-gradient(
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff,
    transparent
  );
  animation: animate1 4s linear infinite;
  animation-play-state: paused;
}

.card:hover .lines::before {
  animation-play-state: running;
}

@keyframes animate1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.card .lines::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #292929;
}

.card .imgBx {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translateX(-50%);
  background: #000;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .imgBx {
  top: 25px;
  width: 300px;
  height: 200px;
}

.card .imgBx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    transparent,
    #ff3c7b,
    #ff3c7b,
    #ff3c7b,
    transparent
  );
  animation: animate2 6s linear infinite;
  animation-play-state: paused;
}

.card:hover .imgBx::before {
  animation-play-state: running;
}

@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.card .imgBx::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #292929;
}

.card .imgBx img {
  position: absolute;
  width: 95%;
  height: 95%;
  z-index: 1;
  /* filter: invert(1); */
  /* opacity: 0.5; */
  transition: 0.5s;
}

.card:hover .imgBx img {
  opacity: 1;
}

.card .content-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.card .content-1 .details {
  padding: 10px 20px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(145px);
}

.card:hover .content-1 .details {
  transform: translateY(0);
}

.card .content-1 .details h2 {
  font-size: 1.5em;
  font-weight: 500;
  color: #45f3ff;
  transition: 0.5s;
}

.card .content-1 .details p {
  color: #fff;
  opacity: 0;
  transition: 0.5s;
}

.card .content-1 .details a {
  display: inline-block;
  padding: 8px 15px;
  background: #45f3ff;
  color: #292929;
  margin-top: 10px;
  font-weight: 500;
  text-decoration: none;
  opacity: 0;
  transition: 0.5s;
}

.card:hover .content-1 .details p,
.card:hover .content-1 .details a,
.card:hover .content-1 .details h3 {
  opacity: 1;
}

.card:hover .content-1 .details h2 {
  opacity: 0;
}

.card .content-1 .details h3 {
  color: #ff3c7b;
  opacity: 0;
  transition: 0.5s;
}

/* Responsive Styles */
/* ===== 1024px ===== */
@media (max-width: 1024px) {
  .sec-01 {
    /* Optional: Adjust position and display if needed */
    /*position: relative;*/
    /*display: flex; /* Use flexbox to center contents */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /*padding: 80px 100px;*/ /* Uncomment if needed for spacing */
    color: #fff;
    margin-top: 1000px; /* Adjust top margin as needed */
    width: 100%; /* Full width */
    background-color: #111222;
    overflow-x: hidden;
  }
}

/* ===== 912px ===== */
@media (max-width: 912px) {
  /* section1 */
  .sec-01 {
    /* Optional: Adjust position and display if needed */
    /*position: relative;*/
    /*display: flex; /* Use flexbox to center contents */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /*padding: 80px 100px;*/ /* Uncomment if needed for spacing */
    color: #fff;
    margin-top: 1000px; /* Adjust top margin as needed */
    width: 100%; /* Full width */
    background-color: #111222;
    overflow-x: hidden;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main-title {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
    z-index: 1;
  }

  .box1 {
    position: relative;
    width: 350px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #03a9f4;*/
    /*margin-top: -60px;*/
  }

  .lightbar {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3px;
    width: 10px;
    height: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 80px #00b3ff, 0 0 120px #00b3ff;
    animation: animatelightbar 5s linear infinite;
    z-index: 3;
  }

  @keyframes animatelightbar {
    0%,
    5% {
      transform: scaleY(0) translateX(0);
    }

    10% {
      transform: scaleY(1) translateX(0);
    }

    90% {
      transform: scaleY(1) translateX(calc(350px - 10px));
    }

    95%,
    100% {
      transform: scaleY(0) translateX(calc(350px - 10px));
    }
  }

  .toplayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111222;
    z-index: 2;
    margin-top: 3px;
    animation: animatetoplayer 10s linear infinite;
  }

  @keyframes animatetoplayer {
    0%,
    2.5% {
      transform: translateX(0);
    }

    5% {
      transform: translateX(0);
    }

    45% {
      transform: translateX(100%);
    }

    47.5%,
    50% {
      transform: translateX(100%);
    }

    50.001%,
    52.5% {
      transform: translateX(-100%);
    }

    55% {
      transform: translateX(-100%);
    }

    95% {
      transform: translateX(0%);
    }

    97.5%,
    100% {
      transform: translateX(0%);
    }
  }
}

/* ===== 820px ===== */
@media (max-width: 820px) {
  .sec-01 {
    /* Optional: Adjust position and display if needed */
    /*position: relative;*/
    /*display: flex; /* Use flexbox to center contents */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /*padding: 80px 100px;*/ /* Uncomment if needed for spacing */
    color: #fff;
    margin-top: 800px; /* Adjust top margin as needed */
    width: 100%; /* Full width */
    background-color: #111222;
    overflow-x: hidden;
  }
}

/* ===== 768px ===== */
@media (max-width: 768px) {
  /* header */
  .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent; /* Make background transparent */
    backdrop-filter: blur(30px); /* Apply blur effect */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  .menu.show {
    display: flex;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu li {
    text-align: center;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    justify-content: center;
    align-items: center;
  }

  .menu li:last-child {
    border-bottom: none;
  }

  .menu li a,
  .subscribe-btn,
  .login-btn {
    font-size: 24px;
    width: 70%; /* Ensure full width for the items */
    padding: 15px;
  }

  .home-text h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 1.2;
  }

  /* section1 */
  .sec-01 {
    /* Optional: Adjust position and display if needed */
    /*position: relative;*/
    /*display: flex; /* Use flexbox to center contents */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /*padding: 80px 100px;*/ /* Uncomment if needed for spacing */
    color: #fff;
    margin-top: 650px; /* Adjust top margin as needed */
    width: 100%; /* Full width */
    background-color: #111222;
    overflow-x: hidden;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main-title {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
    z-index: 1;
  }

  .box1 {
    position: relative;
    width: 350px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #03a9f4;*/
    /*margin-top: -60px;*/
  }

  .lightbar {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3px;
    width: 10px;
    height: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 80px #00b3ff, 0 0 120px #00b3ff;
    animation: animatelightbar 5s linear infinite;
    z-index: 3;
  }

  @keyframes animatelightbar {
    0%,
    5% {
      transform: scaleY(0) translateX(0);
    }

    10% {
      transform: scaleY(1) translateX(0);
    }

    90% {
      transform: scaleY(1) translateX(calc(350px - 10px));
    }

    95%,
    100% {
      transform: scaleY(0) translateX(calc(350px - 10px));
    }
  }

  .toplayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111222;
    z-index: 2;
    margin-top: 3px;
    animation: animatetoplayer 10s linear infinite;
  }

  @keyframes animatetoplayer {
    0%,
    2.5% {
      transform: translateX(0);
    }

    5% {
      transform: translateX(0);
    }

    45% {
      transform: translateX(100%);
    }

    47.5%,
    50% {
      transform: translateX(100%);
    }

    50.001%,
    52.5% {
      transform: translateX(-100%);
    }

    55% {
      transform: translateX(-100%);
    }

    95% {
      transform: translateX(0%);
    }

    97.5%,
    100% {
      transform: translateX(0%);
    }
  }
}

/* ===== 480px ===== */
@media (max-width: 480px) {
  /* header */
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo h1 {
    font-size: 20px;
  }

  .logo p {
    font-size: 12px;
  }

  .menu-icon {
    right: 10px; /* Adjusted for smaller screens */
  }

  .menu li a {
    font-size: 20px;
  }

  /* section1 */
  .sec-01 {
    /* Optional: Adjust position and display if needed */
    /*position: relative;*/
    /*display: flex; /* Use flexbox to center contents */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /*padding: 80px 100px;*/ /* Uncomment if needed for spacing */
    color: #fff;
    margin-top: 300px; /* Adjust top margin as needed */
    width: 100%; /* Full width */
    background-color: #111222;
    overflow-x: hidden;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main-title {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
    z-index: 1;
  }

  .box1 {
    position: relative;
    width: 350px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #03a9f4;*/
    /*margin-top: -60px;*/
  }

  .lightbar {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3px;
    width: 10px;
    height: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 80px #00b3ff, 0 0 120px #00b3ff;
    animation: animatelightbar 5s linear infinite;
    z-index: 3;
  }

  @keyframes animatelightbar {
    0%,
    5% {
      transform: scaleY(0) translateX(0);
    }

    10% {
      transform: scaleY(1) translateX(0);
    }

    90% {
      transform: scaleY(1) translateX(calc(350px - 10px));
    }

    95%,
    100% {
      transform: scaleY(0) translateX(calc(350px - 10px));
    }
  }

  .toplayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111222;
    z-index: 2;
    margin-top: 3px;
    animation: animatetoplayer 10s linear infinite;
  }

  @keyframes animatetoplayer {
    0%,
    2.5% {
      transform: translateX(0);
    }

    5% {
      transform: translateX(0);
    }

    45% {
      transform: translateX(100%);
    }

    47.5%,
    50% {
      transform: translateX(100%);
    }

    50.001%,
    52.5% {
      transform: translateX(-100%);
    }

    55% {
      transform: translateX(-100%);
    }

    95% {
      transform: translateX(0%);
    }

    97.5%,
    100% {
      transform: translateX(0%);
    }
  }
}

/* ===== 430px ===== */
@media (max-width: 430px) {
  /* section1 */
  .sec-01 {
    /* Optional: Adjust position and display if needed */
    /*position: relative;*/
    /*display: flex; /* Use flexbox to center contents */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /*padding: 80px 100px;*/ /* Uncomment if needed for spacing */
    color: #fff;
    margin-top: 550px; /* Adjust top margin as needed */
    width: 100%; /* Full width */
    background-color: #111222;
    overflow-x: hidden;
  }
}

/* ===== 414px ===== */
@media (max-width: 414px) {
  /* section1 */
  .sec-01 {
    /* Optional: Adjust position and display if needed */
    /*position: relative;*/
    /*display: flex; /* Use flexbox to center contents */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /*padding: 80px 100px;*/ /* Uncomment if needed for spacing */
    color: #fff;
    margin-top: 505px; /* Adjust top margin as needed */
    width: 100%; /* Full width */
    background-color: #111222;
    overflow-x: hidden;
  }
}

/* ===== 412px ===== */
@media (max-width: 412px) {
  /* section1 */
  .sec-01 {
    /* Optional: Adjust position and display if needed */
    /*position: relative;*/
    /*display: flex; /* Use flexbox to center contents */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /*padding: 80px 100px;*/ /* Uncomment if needed for spacing */
    color: #fff;
    margin-top: 530px; /* Adjust top margin as needed */
    width: 100%; /* Full width */
    background-color: #111222;
    overflow-x: hidden;
  }
}

/* ===== 375px ===== */
@media (max-width: 375px) {
}

/* ===== 360px ===== */
@media (max-width: 360px) {
  /* header */
  .home-text h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
  }

  .home-text h5 {
    font-size: 18px;
    font-weight: 600;
    /*margin-bottom: -10px;*/
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #ffa343;
    padding: 40px 25px;
  }
}

/* ===== 340px ===== */
@media (max-width: 344px) {
  /* header */
  .home-text h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
  }

  .home-text h5 {
    font-size: 18px;
    font-weight: 600;
    /*margin-bottom: -10px;*/
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #ffa343;
    padding: 40px 25px;
  }

  .card {
    position: relative;
    width: 320px;
    height: 180px;
    background: #fff;
    transition: 0.5s;
  }
}
